@import "tailwindcss";

@keyframes slideDown {
    0% {
        transform: translate(0px, -150px)
    }
    100% {
        transform: translate(0px, 0px) 
    }
}
#logo {
    z-index: 2;
}

.slideDown {
    right: 0px;
    animation: slideDown 0.8s ease;
    transition: color;
    z-index: 1;
}

.login-input {
    border-radius: 5px;
}

* {
    user-select: none;
}

button {
    z-index: 2;
    cursor: pointer;
}


[x-cloak] {
    display: none !important;
}

