@import "tailwindcss";

/*
* {
    touch-action: none;
 }
 */

@keyframes popup {
    0% {
        opacity: 0%;
        scale: 0;

    }
    100% {
        opacity: 100%;
        scale: 1;

    }
}

@keyframes slideDown {

    0% {
        transform: translate(0px, -150px)
    }
    100% {
        transform: translate(0px, 0px) 
    }
}
#logo {
    z-index: 2;
}

button[disabled] {
    background: gray;
    cursor: auto;
    opacity: 50%;
}

.success {
    border: 5px solid #1DB954 !important;

}

#login-result-modal {
    opacity: 0;
    padding: 50px;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: all 0.3s ease;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation: popup 0.5s ease;

}


#login-result-container {
    border: 5px solid black;
     max-width: 600px;
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
       position: relative; 
    border-radius: 25px;
    background: lightgray;
    transition: all 0.3s ease;
    pointer-events: all;
    border: 5px solid #FF0000;

}
.modal-open {
    opacity: 1 !important;
    z-index: 9999 !important;
    transition: all 0.3s ease;
}

#exit-login-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}




.slideDown {
    right: 0px;
    animation: slideDown 0.8s ease;
    transition: color;
    z-index: 1;
}

.login-input {
    border-radius: 5px;
}

* {
    user-select: none;
}

button {
    z-index: 2;
    cursor: pointer;
}


[x-cloak] {
    display: none !important;
}
